#rodape{
    color: white;
    background-color: rgb(25, 135, 84);
    font-size: 12px;
    padding-left: 5px;
    
}
.negrito{
    font-weight: bold;
}
#fotoLogoIF{
    width: 100px;
    height: 100px;
}
#formulaCaptalizacao{
    width: 50%;
    height: 20%;
    padding-left: 5%;
}
#textoFC{
    margin: 0px;
    padding-left: 50px;
}
#divvoltar{
    text-align: center;
    margin: 10px;
}
#voltar{
    border-radius: 15px;
    border: 2px solid grey;
    background-color: rgb(25, 135, 84);
    color: white;
    padding: 2px;
    font-size: 18px;
    text-decoration: none;
}
*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#indisponivel{
    background-color: red;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#textoCor{
    color:white;
    font-size: 18px;
    padding: 6px;
}
.conteudoPagina{
    padding: 10px;
    margin: 10px;
}
#apresentacao{
    font-size: 18px;
    font-weight: bold;
}
.divApresentacao{
    padding: 10px;
    text-align: center;
}
#fotoGermano{
    width: 150px; 
    height: 150px;
    border-radius: 10px;
}
#textoApresentacao{
    padding-left: 20%;
    padding-right: 20%;
}
#texto20{
    font-size: 20px;
    text-align: center;
}
#trimestres{
    padding: 15px;
}
.menu{
    width: 180px;
    height: 180px;
}
.menu2{
    width: 120px;
    height: 120px;
}
#tituloConteudo{
    font-size: 25px;
    background-color: rgb(13, 226, 5);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#SubTitulo{
    font-size: 22px;
    color: green;
    font-weight: bold;
}
.texto{
    margin-left: 4%;
    margin-right: 4%;
}
#referencia{
    font-size: 10px;
    font-weight: bold;
    color: black;
}
img{
    height: 100%;
    width: 100%;
}
#img50{
    height: 100%;
    width: 50%;
}
#img30{
    height: 100%;
    width: 30%;
}
.laranja{
    color: rgb(255, 145, 0);
}
.azul{
    color: blue;
}
.rosa{
    color: rgb(238, 34, 102);
}
.verde{
    color: green;
}